<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}MOHXL-Blog{% endblock %}</title>
    <!-- Ajoutez ici vos liens vers les fichiers CSS, JavaScript, etc. -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/final_mohxl_ep2_2.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>MOHXL'S BLOG</h1>
        <nav>
            <ul>
           <a  id="art" href="{% url 'article_list' %}">Accueil</a>
                <!-- Ajoutez ici d'autres liens de navigation -->
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Ajoutez ici le contenu du pied de page -->
    </footer>
</body>
</html>
